.mainclass{
    display: flex;
    justify-content: space-between;
    background: #0A98D3;
    height: 8vh;
}


.image{
    height: 32px;
    align-items: center;
    
}

.headcontents{
  display: flex;
  gap: 80px;  
  color: #FFFFFF;
font-weight: bold;
font-size: 16px;
line-height: 19px;
align-items: center;
display: none;
}
    
.user{
    display: flex;
    color: #FFFFFF;
    align-items: center;
    gap:10px;
    display: none;
    /* padding-right: 50px; */
    margin-left: 200px;
   padding-top: 14px;
   font-weight: bold;

}

.menuicon{
    display: flex;
    color: #FFFFFF;
    padding-top: 14px;
    padding-right: 20px;
    gap:10px;
   
}

@media  (min-width:1024px)
{
    .user{
        display: inline-flex;
        justify-content: center;
    }
    .headcontents{
        display: inline-flex;
    }
    .menuicon{
        display: none;
    }
}



